<br><br>
<div class="container">
    <mat-toolbar color="primary" class="title" >
        <h2>Delete user</h2>
    </mat-toolbar>
    <form #templateForm="ngForm" (ngSubmit)=" deleteUser(templateForm.value)" >
        {{templateForm.value | json}}
        <div class="form-group">
            <label>Id</label>
            <input type="text" class="form-control" placeholder="enter user id" name="id" #id="ngModel"
             [(ngModel)]="deleteuser.userid" required>
            <small [class.d-none]="id.valid || id.untouched" class="text-danger">id is required</small>
        </div>
        <button class="btn btn-danger" type="submit" [disabled]="!templateForm.form.valid">DELETE</button>
    </form>
</div>
