<mat-toolbar color="accent" class="title" >
  <h2>User Application</h2>
</mat-toolbar>

<div class="buttons">
  <button class="btn" routerLink='/addroute' mat-raised-button color="primary">ADD</button>
  <button class="btn" routerLink='/homeroute' mat-raised-button color="primary">VIEW</button>
  <button class="btn" routerLink='/updateroute' mat-raised-button color="primary">UPDATE</button>
  <button class="btn" routerLink='/deleteroute' mat-raised-button color="primary">DELETE</button>
  <!-- <button class="btn" mat-raised-button color="primary"><a routerLink='/addUsers' routerLinkActive="active">UPD&DEL</a></button> -->
  <!-- <button  class="btn"mat-raised-button color="primary">VIEW</button> -->
  <!-- <a mat-raised-button href="https://www.google.com/" target="_blank" color="primary">Link</a> -->
  <!-- <a mat-raised-button  routerLink='/addroute' target="_blank"  color="primary">Link</a> -->
  <!-- <button><a routerLink='/addUsers' routerLinkActive="active">AddUsers</a></button> -->

</div>
<router-outlet></router-outlet>
